    .absolute {
      position: absolute;
      top: 10%;
    }

    .nav li .dropdown-menu {
      background: #eee;
    }

    .navbar {
      margin-bottom: -50px;
      opacity: 0.8;
    }

    .wrapper {
      margin-top: 50px;
    }

    .dashboard-top {
      margin-top: 
    }

    .red {
      color: #e74c3c;
    }

    .navbar * {
      margin: auto; 
    }

    #watt-text {
      position: relative;
    }

    #watt-text b {
      padding: 30px;
      background: #fff;
      border-radius: 50%;
      opacity: 0.75;
      margin: auto;
    }

    #location-info * {
      display: inline;
    }

    /*------ Welcome Page  --------*/ 
    .welcome {
      padding: 14em 1.5em;
      background: url('../img/light-bulb.jpg') no-repeat;
      background-size: cover;
    }

    .welcome h1 {
      font-size: 80px;
    }

    .promo-content a {
      display: inherit;
    }

    /*----------------------------*/

    /*--------    Posts    -------*/

    #posts-container {
      background: #eee;
    }

    .no-left-pad {
        padding-left: 0;        
    }

    .no-right-pad {
        padding-right: 0;        
    }
    
    .alert, .panel, .post-title {
        margin-bottom: 0;
    }

    .post-title {      
      font-size: 14px;      
    }
    
    .post-credit-in-caps {
      font-size: 10px;
      color: brown;
      margin-bottom: 1px !important;
      text-transform: uppercase;
    }

    .hr-compact {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .smaller {
      font-size: 14px;
      margin-bottom: 0px;
    }

    textarea {
      resize: vertical;
    }

    #middle-content {
      display: table;
      width:100%;
    }

    #navigation  {
      margin-top: 1px;
      margin-bottom: 5px;
      background: white;
      color: black;
      padding-left: 2px;
      padding-top: 2px;
      padding-bottom: 2px;
      border-radius: 3px;
    }

    #post-details-link {
      margin:0px;
      padding:0px;
      border:0px;
    }